/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 90%;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('wall1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    transition: background 0.5s ease-in-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: rgba(20, 23, 43, 0.8);
    transition: background-color 0.3s ease;
}

.navbar-logo img {
    height: 55px;
    transition: transform 0.5s ease;
}

.navbar-links {
    display: flex;
    gap: 60px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #00d9ff;
}

/* Mobile menu */
.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Mobile menu icon */
.mobile-menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#mobile-menu.active {
    display: flex;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }
}

/* Container styling */
.container {
    margin-top: 100px;
    text-align: center;
    padding: 50px 20px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

h1 {
    font-size: 3.9rem;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px rgb(0, 195, 255), 0 0 5px rgb(0, 183, 255), 0 0 5px rgb(2, 175, 255), 0 0 1px rgb(0, 183, 255);
}

.contact-info {
    font-size: 1.7rem;
    margin-bottom: 40px;
}

.contact-info a {
    color: #00d9ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #fff;
}

.map-section {
    margin-top: 50px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.map-section h2 {
    font-size: 3.9rem;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px rgb(0, 195, 255), 0 0 5px rgb(0, 183, 255), 0 0 5px rgb(2, 175, 255), 0 0 1px rgb(0, 183, 255);
}

.map-image {
    width: 100%;
    max-width: 738px;
    border-radius: 33px;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.map-image:hover {
    transform: scale(1.05);
}

.google-map-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00d9ff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.google-map-link:hover {
    background-color: #ffffff;
    color: #00d9ff;
}

/* Robot hands animation */
.robot-hands {
    position: absolute;
    top: 31%;
    left: 56px;
    width: 391px;
    opacity: 0;
}

.robot-hands-right {
    right: 44px;
    left: auto;
    width: 451px;
    top: 32%;
}

/* Slide-in animation */
.slide-in-left {
    animation: slideInLeft 2s forwards;
}

.slide-in-right {
    animation: slideInRight 2s forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 1400px) {
    .robot-hands {
        position: absolute;
        top: 31%;
        left: 56px;
        width: 0px;
        opacity: 0;
    }
    
    .robot-hands-right {
        right: 44px;
        left: auto;
        width: 0px;
        top: 32%;
    }
}